<div class="sidenav-hold">
  <div class="icon-menu mb-1" *ngIf="hasIconMenu">
    <!-- Icon menu separator -->
    <div class="mb-1 nav-item-sep">
      <mat-divider [ngStyle]="{margin: '0 -24px'}"></mat-divider>
      <span class="text-muted icon-menu-title">{{hasIconMenu}}</span>
    </div>
    <!-- Icon menu items -->
    <div class="icon-menu-item" *ngFor="let item of items">
      <button *ngIf="!item.disabled  && item.canShow$ | async" mat-raised-button [matTooltip]="item.tooltip"
              routerLink="/{{item.state}}"
              routerLinkActive="mat-bg-primary">
        <div [ngSwitch]="item.iconType">
          <mat-icon *ngSwitchCase="'material-design'">{{item.icon}}</mat-icon>
          <mat-icon *ngSwitchCase="'font-awesome'" [fontSet]="item.fontSet" [fontIcon]="item.icon" inline></mat-icon>
        </div>
      </button>
    </div>
  </div>

  <ul libDropdown class="sidenav">
    <li *ngFor="let item of items" libDropdownLink routerLinkActive="open">
      <div *ngIf="!item.disabled && item.canShow$ | async" class="lvl1">
        <div>
          <a routerLink="/{{item.state}}" libDropdownToggle matRipple>
            <div [ngSwitch]="item.iconType">
              <mat-icon *ngSwitchCase="'material-design'">{{item.icon}}</mat-icon>
              <fa-icon *ngSwitchCase="'font-awesome'" [icon]="item.faIcon"></fa-icon>
            </div>
            <span class="item-name lvl1">{{item.name | translate}}</span>
            <span fxFlex></span>
            <span class="menuitem-badge mat-bg-{{ badge.color }}" [ngStyle]="{background: badge.color}"
                  *ngFor="let badge of item.badges">{{ badge.value }}</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
