<div class="seciton-left egret-platform">
  <div class="section-left-content">
    <!--    <h1 class="text-36 font-weight-light">Don't have an account?</h1>-->
    <!--    <p class="mb-24 text-small">Stop wasting time and money. It's free!</p>-->
    <!--    <button mat-flat-button color="accent" [routerLink]="'/auth/cadastre-se'">Sign Up</button>-->
  </div>
</div>


<div class="form-holder height-100vh mat-elevation-z4 egret-platform "
     [perfectScrollbar]="{}"
>

  <div
    [formGroup]="form"
    class="signup-form"
    fxLayout="column"
  >

    <!-- headline -->
    <div class="form-headline text-center mb-32">
      <h1 class="font-weight-light">{{ 'pages.auth.sign_in.title' |translate}}</h1>
    </div>
    <div class="mb-48" fxLayout="row wrap" fxLayoutAlign="center center">
      <img
        width="200px"
        src="assets/images/illustrations/breaking_barriers.svg"
        alt=""
      />
    </div>

    <div fxFill fxLayoutAlign="space-around">
      <mat-error>
        {{errors$ | async}}
      </mat-error>
    </div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'attributes.user.email'| translate}}</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        name="email"
        [placeholder]="'attributes.user.email' | translate"
      />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'attributes.user.password' | translate}}</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        name="password"
        placeholder="********"
      />
    </mat-form-field>

    <button (click)="onSubmit()" mat-flat-button color="primary">{{'pages.auth.buttons.sign_in' | translate }}</button>

    <div style="padding-top: 20px">
      <button fxFill routerLink="/auth/cadastre-se" mat-flat-button
              color="basic">{{'pages.auth.buttons.sign_up' | translate }}</button>
    </div>
    <app-country-selector></app-country-selector>
  </div>
</div>
