<div class="sidebar-panel">
  <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
    <div class="sidebar-hold">

      <!-- App Logo -->
      <div class="branding">
        <span class="app-logo-text">uButeco</span>

        <span style="margin: auto" *ngIf="layoutConf.sidebarStyle !== 'compact'"></span>
      </div>

      <!-- Sidebar user -->
      <div class="app-user">
        <div class="app-user-photo">
          <ngx-avatar *ngIf="user$ | async; let user"
                      class="my-avatar mat-elevation-z1"
                      [size]="80"
                      [name]="user?.name"
                      [src]="user?.picture?.url"
          ></ngx-avatar>
        </div>
        <span class="app-user-name mb-05">
                <mat-icon class="icon-xs text-muted">lock</mat-icon>
          {{(user$ | async)?.name}}
                </span>
        <!-- Small buttons -->
        <div class="app-user-controls">
          <button
            class="text-muted"
            mat-icon-button
            mat-xs-button
            [matMenuTriggerFor]="appUserMenu">
            <mat-icon>settings</mat-icon>
          </button>
          <button
            class="text-muted"
            mat-icon-button
            mat-xs-button
            matTooltip="Sign Out"
            (click)="onLogout()"
          >
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <mat-menu #appUserMenu="matMenu">
            <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>{{'pages.menu.profile'|translate}}</span>
            </button>
            <button mat-menu-item routerLink="/perfil/configuracoes">
              <mat-icon>settings</mat-icon>
              <span>{{'pages.menu.settings'|translate}}</span>
            </button>
            <button mat-menu-item routerLink="/calendar">
              <mat-icon>date_range</mat-icon>
              <span>{{'pages.menu.organization'|translate}}</span>
            </button>
            <button (click)="onLogout()" mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>{{'pages.menu.sign_out'|translate}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <!-- Navigation -->
      <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem"
                   [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
    </div>
  </div>
</div>
