<div mat-dialog-title class="text-center">
  <h3>Escolha uma imagem para enviar </h3>
</div>

<div mat-dialog-content>
  <ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
    <ngx-dropzone-label>Arraste uma imagem ou clique para escolher</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>

  <div style="padding-top: 2em; padding-bottom: 2em" *ngIf="progress$ | async ; let progress">
    <mat-progress-bar mode="determinate" [value]="progress">
    </mat-progress-bar>
  </div>
</div>

<div mat-dialog-actions>
  <app-cancel-button (cancel)="cancelUpload()"></app-cancel-button>
  <span fxFlex></span>
  <app-confirm-button [loading]="started$ | async"
                      (confirmed)="uploadFile()"></app-confirm-button>
</div>

