<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="p-0">
      <mat-card-title class="text-center">
        {{'pages.theme.title'|translate}}
      </mat-card-title>

      <mat-card-content [perfectScrollbar]>

        <div class="pb-1 mb-1 border-bottom">
          <h6 class="title text-muted">{{'pages.theme.header_colors'|translate}}</h6>

          <div class="colors">
            <div
              class="color {{c.class}}"
              *ngFor="let c of topBarColors$ | async"
              (click)="updateTopBar(c)">
              <mat-icon class="active-icon" *ngIf="c.active">check</mat-icon>
            </div>
          </div>
        </div>

        <div class="pb-1 mb-1 border-bottom">
          <h6 class="title text-muted">{{'pages.theme.sidebar_colors'|translate}}</h6>
          <div class="colors">
            <div
              class="color {{c.class}}"
              *ngFor="let c of sidebarColors$ | async"
              (click)="updateSidebar(c)">
              <mat-icon class="active-icon" *ngIf="c.active">check</mat-icon>
            </div>
          </div>
        </div>

        <div class="pb-1 mb-1 border-bottom">
          <h6 class="title text-muted">{{'pages.theme.footer_colors'|translate}}</h6>

          <div class="colors">
            <div
              class="color {{c.class}}"
              *ngFor="let c of footerColors$ | async"
              (click)="updateFooter(c)">
              <mat-icon class="active-icon" *ngIf="c.active">check</mat-icon>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
