<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center" *ngIf="user$ | async; let user">
          <ngx-avatar (clickOnAvatar)="openImageDialog()"
                      class="my-avatar"
                      [size]="200"
                      [name]="user?.name"
                      [src]="user?.picture?.url"></ngx-avatar>
        </div>

        <div class="profile-title text-center mb-1">
          <div class="main-title">{{(user$ | async)?.name}}</div>
        </div>


        <div class="profile-nav">
          <mat-nav-list>
            <mat-list-item routerLink="/perfil/dados" [routerLinkActiveOptions]="{exact: true}"
                           routerLinkActive="list-item-active">
              <mat-icon>settings</mat-icon>
              Meus dados
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/perfil/tema" routerLinkActive="list-item-active">
              <mat-icon>security</mat-icon>
              Tema
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/perfil/seguranca" routerLinkActive="list-item-active">
              <mat-icon>security</mat-icon>
              Segurança
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/perfil/organizacao" routerLinkActive="list-item-active">
              <mat-icon>security</mat-icon>
              Organização
            </mat-list-item>
          </mat-nav-list>
        </div>
      </mat-card-content>

    </mat-card>

    <!-- Contact Information -->

  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)" class="pl-05">
    <mat-card class="default">
      <mat-card-title>Contato</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item>
            <mat-icon class="mr-1">email</mat-icon>
            {{(user$ | async)?.email}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
