<table class="cart-table default-bg mat-elevation-z1">
  <thead>
  <tr>
    <th class="text-muted">{{'pages.orders.labels.remove'|translate}}</th>
    <th class="text-muted">{{'attributes.product.image'|translate}}</th>
    <th class="text-muted">{{'attributes.product.to_human'|translate}}</th>
    <th class="text-muted">{{'attributes.product.category'|translate}}</th>
    <th class="text-muted">{{'attributes.product.price'|translate}}</th>
    <th class="text-muted">{{'attributes.order.quantity'|translate}}</th>
    <th class="text-muted">{{'attributes.order.total'|translate}}</th>
  </tr>
  </thead>
  <tbody>

  <ng-container *ngFor="let item of items$ | async">
    <tr>
      <td>
        <button (click)="onRemoveItem(item)" mat-icon-button color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td>
        <img class="cart-thumbnail" [src]="item?.item?.image?.url"></td>
      <td>
        <span>{{item?.item?.name}}</span></td>
      <td>
        <fa-icon class="width-4" [icon]="['fas', getItemTypeIcon(item)]"></fa-icon>
      </td>
      <td>
        {{(item?.item?.price_cents || 0) | formatCents}}
      </td>
      <td>
        <app-edit-order-item [item]="item" ></app-edit-order-item>
      </td>
      <td>
        {{(item?.item?.price_cents || 0) * (item.quantity || 0) | formatCents}}
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

