<div *ngIf="data?.id; else newStyle">
  <h1 mat-dialog-title>
    Atualizando o Estilo #{{data.id}}
  </h1>
</div>

<ng-template #newStyle>
  <h1 mat-dialog-title>
    Qual o novo estilo de cerveja?
  </h1>
</ng-template>

<div mat-dialog-content>

  <mat-form-field appearance="outline" fxFlex="100">
    <input [formControl]="beerStyleControl" matInput placeholder="Nome">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <span fxFlex></span>
  <button mat-raised-button color="primary" (click)="onAddBeerStyle()">Salvar</button>
</div>
