<div *ngIf="data?.maker; else newData">
  <div *ngIf="data?.isBrewery; else isMaker">
    <h1 mat-dialog-title> Editando a Cervejaria #{{data?.maker.id}}</h1>
  </div>
  <ng-template #isMaker>
    <h1 mat-dialog-title> Editando o Fabricante #{{data?.maker.id}}</h1>
  </ng-template>
</div>

<ng-template #newData>
  <div *ngIf="data?.isBrewery; else isMaker">
    <h1 mat-dialog-title> Qual a Cervejaria?</h1>
  </div>
  <ng-template #isMaker>
    <h1 mat-dialog-title> Qual o Fabricante</h1>
  </ng-template>
</ng-template>


<div mat-dialog-content>

  <div [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" fxFlex="100">
      <input formControlName="name" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <input formControlName="country" matInput placeholder="País">
    </mat-form-field>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <span fxFlex></span>
  <button mat-raised-button color="primary" (click)="onAddMaker()">Salvar</button>
</div>
