<div *ngIf="data?.id; else newData">
  <h1 mat-dialog-title>{{'pages.makers.dialog.update.title'|translate: {id: data.id} }}</h1>
</div>

<ng-template #newData>
  <h1 mat-dialog-title>{{'pages.makers.dialog.new.title'|translate}}</h1>
</ng-template>


<div mat-dialog-content>

  <div [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>{{'attributes.base.name'|translate}}</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>{{'attributes.maker.country'|translate}}</mat-label>
      <input formControlName="country" matInput>
    </mat-form-field>

  </div>

</div>
<div mat-dialog-actions>
  <app-dialog-action-buttons
    (cancel)="onCancel()"
    (confirm)="onSubmit()"
    fxFill
  ></app-dialog-action-buttons>
</div>
