<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2>Egret Is A Complete UI Framework For Angular</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis beatae.</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="accent" (click)="buyEgret()">BUY EGRET NOW</button>
      </div>
    </div>
  </div>
</section>