<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
    <div class="home-intro-subtitle">
     Angular Landing + Egret Admin
    </div>
    <h1 class="home-intro-title">Your complete Angular App Development kit</h1>
    <p class="home-intro-text">Egret implements the official Angular Material Design components and built with Angular CLI. 
      No Bootstrap!, No jQuery! and Only TypeScript!</p>
      <button mat-raised-button mat-lg-button class="intro-cta" (click)="buyEgret()"><mat-icon>add_shopping_cart</mat-icon> BUY EGRET</button>
    <div class="intro-product">
      <img src="assets/images/egret-screen.png" alt="">
    </div>
  </div>
</section>