<div fxLayout="row column egret-platform"
     gdAlignColumns="center"
     gdAlignRows="center"
     fxFlexFill
>
  <mat-card fxFlex.lt-md="90" class="text-center">
    <mat-card-header>
      <mat-card-title>
        <img mat-card-image
             style="width: 350px"
             src="https://s3.us-east-2.amazonaws.com/uploads.alertamed.com.br/defaults/Alerta+med+logo+principal.png"
             alt="Alerta Med">
        <h2>{{'pages.auth.confirm.title'|translate}}</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content style="padding-top: 2em">
      <div *ngIf="!!user">
        <h4>{{'pages.auth.confirm.message'|translate:{user_name: user?.name} }}</h4>
      </div>
      <div [ngSwitch]="error">
        <ng-container *ngSwitchCase="422">
          <h3 *ngIf="alreadyConfirmed; else invalidToken">{{'pages.auth.confirm.already_exist_title'|translate}}</h3>
          <ng-template #invalidToken>
            <h3>{{'pages.auth.confirm.invalid_token'|translate}}</h3>
          </ng-template>
        </ng-container>
      </div>
      <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="error == 422 && !alreadyConfirmed" mat-flat-button color="primary">
        {{'pages.auth.buttons.send_new_confirm_email'|translate}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
