
.mat-table {
  overflow: auto;
  width: 100%;
}

.mat-elevation-z8 {
 overflow-x: auto;
}

.mat-header-cell {
  text-align: center!important;
  justify-content: flex-start
}

.mat-cell {
  text-align: center!important;
}
.mat-sort-header-container {
  display:flex;
  justify-content:center;
}
