<div fxLayout="row">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar: ">
  </mat-form-field>

</div>

<div class="mat-elevation-z8">

  <div class="fab-container">
    <button matTooltip="Nova Bebida" class="fab-toggler" (click)="openCreateDialog()" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <table mat-table [dataSource]="dataSource"
         matSort matSortDisableClear matSortDirection="desc"
         (matSortChange)="sortData($event)"
  >


    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Foto</th>
      <td mat-cell *matCellDef="let element"><img height="100px" [src]="element?.image?.url"></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="maker">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Fabricante</th>
      <td mat-cell *matCellDef="let element"> {{element?.maker?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">{{element?.price_cents | formatCents}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ação</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="delete(element)" mat-button color="warn">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
        <button (click)="show(element)" mat-button>
          <fa-icon [icon]="['far', 'eye']"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <mat-paginator [length]="drinksCounter$ | async"
                 [pageSize]="30"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
  ></mat-paginator>
</div>
