<h1 mat-dialog-title>{{label}}</h1>

<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{'pages.orders.dialog.item_select'|translate}}</mat-label>
    <mat-select formControlName="item">
      <mat-option *ngFor="let item of items$ | async" [value]="item">
        {{'pages.orders.dialog.item_select_option'|translate: {
        name: item.name,
        price: item.price,
        quantity: item.quantity_stock
      } }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'attributes.order.quantity'|translate}}</mat-label>
    <input formControlName="quantity" matInput>
  </mat-form-field>
</div>

<div mat-dialog-actions>

  <app-cancel-button (cancel)="onClose()"></app-cancel-button>
  <button mat-button color="primary"
          cdkFocusInitial
          (keydown.enter)="onSubmit()"
          (click)="onSubmit()">{{'commons.buttons.save'|translate}}
  </button>
</div>
