<div mat-dialog-title>

  <div fxLayout="row" fxLayoutAlign="center">
    <h2 class="text-uppercase text-info text-danger">
      <strong>{{'commons.dialogs.confirm.title' | translate}}</strong>
    </h2>
  </div>
</div>
<div mat-dialog-content>
  <h3 class="text-center">{{'commons.dialogs.confirm.text' | translate}}</h3>
</div>

<div mat-dialog-actions>
  <app-cancel-button mat-dialog-close></app-cancel-button>
  <span fxFlex></span>
  <app-confirm-button (confirmed)="onConfirm()"></app-confirm-button>
</div>
