.item { 
  .mat-card {
    margin: 0 16px;
    .mat-card-content {
      position: relative;
      padding: 2rem;
      min-height: 360px; // Adjust height as your need
    }
    .company-logo {
     padding-bottom: 24px;
    }
    .text {
      position: relative;
      font-size: 1rem;
      color: rgba(0,0,0, .64);
      padding-bottom: 25px;
      min-height: 240px;
      margin: 0;
    }
    .user-detail {
      position: absolute;
      bottom: 25px;
      left: 32px;
      right: 0;
      margin: auto;
      .user-photo {
        float: left;
        margin-right: 8px;
      }
      .user-title {
        font-size: 1rem;
        float: left;
        width: calc(100% - 56px)
      }
      .user-subtitle {
        float: left;

      }
    }
    
  }
}