<div mat-dialog-title>
  <div fxFlex="100" class="text-center">
    <h1 *ngIf="!!data.data && !data.disabled">{{'pages.foods.dialog.update.title'|translate:{id: data?.data?.id} }}</h1>

    <h1 *ngIf="!data.data && !data.disabled">{{'pages.foods.dialog.new.title'|translate}}</h1>

    <h1 *ngIf="!!data.data && data.disabled">{{data.data.name}}</h1>
  </div>
</div>

<div mat-dialog-content>
  <div [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <mat-form-field appearance="outline" fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.base.name'|translate}}</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.product.quantity_stock'|translate}}</mat-label>
        <input formControlName="quantity_stock" type="number" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.product.price'|translate}}</mat-label>
        <input formControlName="price" matInput type="number">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.food.valid_until'|translate}}</mat-label>
        <input matInput formControlName="valid_until" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

    </div>
  </div>
</div>
<div mat-dialog-actions>
  <app-dialog-action-buttons
    (cancel)="onCancel()"
    (confirm)="onSubmit()"
    [show]="!data.disabled"
    [loading]="loading$ | async"
    fxFill
  ></app-dialog-action-buttons>
</div>
