<div class="seciton-left egret-platform">
</div>
<div
  class="form-holder height-100vh mat-elevation-z4 egret-platform"
  [perfectScrollbar]="{}"
>
  <div
    [formGroup]="form"
    class="signup-form"
    fxLayout="column"
    fxLayoutAlign="start"
  >
    <!-- headline -->
    <div class="form-headline text-center mb-16">
      <h1 class="font-weight-bold">{{'pages.auth.sign_up.title'| translate}}</h1>
      <p class="text-muted">{{'pages.auth.sign_up.text'| translate}}</p>
    </div>
    <div class="mb-32" fxLayout="row wrap" fxLayoutAlign="center center">
      <img width="200px" src="assets/images/illustrations/posting_photo.svg" alt="">
    </div>

    <mat-form-field fxFill appearance="outline">
      <mat-label>{{'attributes.base.name' | translate}}</mat-label>
      <input
        formControlName="name"
        matInput
        type="text"
      />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'attributes.user.email' | translate}}</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        name="email"
      />
      <mat-error>
        {{!!form.controls.email?.errors?.required ? '' : ('validations.in_use.email'|translate)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'attributes.user.password' | translate}}</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        name="password"
        placeholder="********"
        minlength="8"
      />
      <mat-error *ngIf="!!form.controls.password?.errors?.minlength">
        {{'validations.min_length.password'|translate: {minLength: 8} }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'attributes.user.confirm_password' | translate}}</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirm_password"
        placeholder="********"
      />
      <mat-error *ngIf="!!form.controls.confirm_password?.errors?.mismatchedPasswords">
        {{'validations.match.password'|translate}}
      </mat-error>
      <mat-error *ngIf="!!form.controls.confirm_password?.errors?.minlength">
        {{'validations.min_length.password'|translate: {minLength: 8} }}
      </mat-error>
    </mat-form-field>


    <mat-form-field fxFill appearance="outline">
      <mat-label>{{'attributes.organization.cnpj' | translate}}</mat-label>
      <input
        formControlName="cnpj"
        mask="00.000.000/0000-00"
        matInput
      />
      <mat-error *ngIf="!!form.controls.cnpj?.errors?.cnpj_invalid">
        {{ ('validations.invalid.cnpj'|translate)}}
      </mat-error>
      <mat-error *ngIf="!!form.controls.cnpj?.errors?.cnpj">
        {{ ('validations.in_use.cnpj'|translate)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFill appearance="outline">
      <mat-label>{{'attributes.organization.name'|translate}}</mat-label>
      <input
        formControlName="organization_name"
        matInput
        type="text"
      />
    </mat-form-field>

    <mat-form-field fxFill appearance="outline">
      <mat-label>{{'attributes.organization.phone'|translate}}</mat-label>
      <input
        formControlName="organization_phone"
        matInput
        mask="(00) 0000-0000 || (00) 00000-0000"
        type="text"
      />
      <mat-error *ngIf="!!form.controls.organization_phone?.errors?.phone_in_use">
        {{ ('validations.in_use.phone'|translate)}}
      </mat-error>
    </mat-form-field>

    <mat-checkbox class="mb-24" formControlName="agreed"
    >{{'pages.auth.sign_up.accept_terms' | translate}}
    </mat-checkbox
    >

    <div fxLayout="row" fxFill>

      <app-button-loading
        color="primary"
        style="width: 100%"
        [loading]="loading$ | async"
        (btnClick)="onSubmit()"
      >
        {{'pages.auth.buttons.sign_up' | translate }}
      </app-button-loading>
    </div>

    <mat-divider class="my-32"></mat-divider>


    <div class="text-center">
      <a
        [routerLink]="'/auth/entrar'"
        class="mat-color-primary text-center full-width"
      >{{'pages.auth.buttons.enter_with_account' | translate}}</a>
    </div>
  </div>
</div>
