<div mat-dialog-title class="text-center">
  <span fxFlex></span>
  {{data.name}}
  <span fxFlex></span>
  <button (click)="dialogRef.close()"
          mat-mini-fab
          color="warn"
          matTooltip="Fechar"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>Descrição:{{data?.description}}</p>
  <p>Sabor: {{data?.flavor}}</p>
  <p>Fabricante: {{data?.maker?.name}}, de {{data?.maker?.state}}/{{data?.maker?.country}}</p>
  <p>Quantidade: {{data?.quantity_stock}} UND</p>
  <p>Preço: {{data?.price}} UND</p>
  <p>Atualizado em: {{data?.updated_at | date}}</p>
</div>
