<div mat-dialog-title>
  <div fxFlex="100" class="text-center">
    <h1 *ngIf="!!data.data && !data.disabled">{{'pages.beers.dialog.update.title'|translate:{id: data?.data?.id} }}</h1>

    <h1 *ngIf="!data.data && !data.disabled">{{'pages.beers.dialog.new.title'|translate}}</h1>

    <h1 *ngIf="!!data.data && data.disabled">{{data.data.name}}</h1>
  </div>
</div>
<div mat-dialog-content>
  <div [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <mat-form-field appearance="outline" fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-label>{{'attributes.base.name'|translate}}</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-label>{{'attributes.product.description'|translate}}</mat-label>
        <textarea rows="5" formControlName="description" matInput></textarea>
      </mat-form-field>


      <mat-form-field appearance="outline" fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-label>{{'attributes.product.quantity_stock'|translate}}</mat-label>
        <input formControlName="quantity_stock" type="number" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-label>{{'attributes.product.price'|translate}}</mat-label>
        <input formControlName="price" matInput type="number">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>


      <div fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-form-field appearance="outline" [fxFlex]=" ((canCreateBeerStyle$ | async) && !data.disabled) ? 80 : 100">
          <mat-label>{{'attributes.beer_style.to_human'|translate}}</mat-label>
          <mat-select [compareWith]="compareSelectValues" formControlName="beer_style">
            <mat-option *ngFor="let style of beerStyles$ | async" [value]="style"
            >{{style.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button fxFlexOffset="10"
                [matTooltip]="'pages.beer_styles.fab'|translate"
                (click)="openDialogBeerStyle()"
                mat-mini-fab
                *ngIf="((canCreateBeerStyle$ | async) && !data.disabled)"
        >+
        </button>
      </div>


      <div fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-form-field appearance="outline" [fxFlex]="((canCreateMaker$ | async) && !data.disabled) ? 80 : 100">
          <mat-label>{{'attributes.maker.to_human'|translate}}</mat-label>
          <mat-select [compareWith]="compareSelectValues" formControlName="beer_style">
            <mat-option *ngFor="let maker of makers$ | async" [value]="maker">
              {{maker.name}}- {{maker?.state}}/{{maker?.country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button fxFlexOffset="10"
                [matTooltip]="'attributes.maker.to_human'|translate"
                (click)="openDialogAddMaker()"
                *ngIf="(canCreateMaker$ | async) && !data.disabled"
                mat-mini-fab>+
        </button>
      </div>

      <mat-form-field appearance="outline" fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-label>{{'attributes.beer.alcohol'|translate}}</mat-label>
        <input formControlName="alcohol" matInput type="number">
        <fa-icon matSuffix [icon]="['fas','percentage']"></fa-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.lt-md="100" fxFlex.gt-sm="45">
        <mat-label>{{'attributes.beer.ibu'|translate}}</mat-label>
        <input formControlName="ibu" matInput type="number">
      </mat-form-field>

    </div>
  </div>
</div>
<div mat-dialog-actions>
  <app-dialog-action-buttons
    fxFill
    (cancel)="onCancel()"
    (confirm)="onSubmit()"
    [loading]="loading$ | async"
    [show]="!data.disabled"
  ></app-dialog-action-buttons>
</div>
