<app-search (search)="applyFilter($event)"></app-search>

<div class="mat-elevation-z8">

  <app-float-action-button
    [tooltip]="'pages.wine_styles.fab' |translate"
    (fabClick)="openFormDialog()"
    [loading]="loading$ | async"
    *ngIf="canCreate$ | async"
  ></app-float-action-button>

  <table mat-table [dataSource]="dataSource" class=""
         matSort matSortDisableClear matSortDirection="desc"
         (matSortChange)="sortData($event)"
  >


    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'attributes.base.id'|translate|uppercase}}</th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'attributes.base.name'|translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>{{'commons.labels.action'|translate}}</th>
      <td mat-cell *matCellDef="let element">
        <app-table-action-buttons
          [canDestroy]="canDestroy$ | async"
          [canEdit]="canEdit$ | async"
          [canShow]="false"
          (destroyElement)="destroy(element)"
          (updateElement)="openFormDialog(element)"
        ></app-table-action-buttons>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="(canShowActions$ | async )? displayedColumnsAdmin : displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: (canShowActions$ | async )? displayedColumnsAdmin : displayedColumns;"></tr>
  </table>

</div>
