<div *ngIf="data; else newTable">
  <h1 mat-dialog-title>Atualizando Mesa: {{data?.name}} #{{data?.id}}</h1>
</div>

<ng-template #newTable>
  <h1 mat-dialog-title>Nova Mesa</h1>
</ng-template>


<div [formGroup]="form" mat-dialog-content>

  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="text-center">

    <mat-form-field appearance="outline" fxFlex="100">
      <input formControlName="name" matInput placeholder="Nome">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <input formControlName="chairs" type="number" matInput placeholder="Lugares">
    </mat-form-field>

  </div>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button color="warn">Cancelar</button>
  <span fxFlex></span>
  <button (click)="onSubmit()"  mat-raised-button color="primary">Salvar</button>
</div>
