<div *ngIf="data; else newTable">
  <h1 mat-dialog-title>{{'pages.tables.dialog.update.title'|translate: {id: data.id} }}</h1>
</div>

<ng-template #newTable>
  <h1 mat-dialog-title>{{'pages.tables.dialog.new.title'|translate}}</h1>
</ng-template>


<div [formGroup]="form" mat-dialog-content>

  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="text-center">

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>{{'attributes.base.name'|translate}}</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>{{'attributes.table.chairs'|translate}}</mat-label>
      <input formControlName="chairs" type="number" matInput>
    </mat-form-field>

  </div>
</div>

<div mat-dialog-actions>
  <app-cancel-button (cancel)="onNoClick()"></app-cancel-button>
  <span fxFlex></span>
  <button (click)="onSubmit()" mat-raised-button color="primary">{{'commons.buttons.save'|translate}}</button>
</div>
