<div mat-dialog-title>
  <div fxFlex="100" class="text-center">
    <h1 *ngIf="!!data.data && !data.disabled">{{'pages.wines.dialog.update.title'|translate:{id: data?.data?.id} }}</h1>

    <h1 *ngIf="!data.data && !data.disabled">{{'pages.wines.dialog.new.title'|translate}}</h1>

    <h1 *ngIf="!!data.data && data.disabled">{{data.data.name}}</h1>
  </div>
</div>

<div mat-dialog-content>
  <div [formGroup]="form">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <mat-form-field appearance="outline" fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.base.name'|translate}}</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.product.description'|translate}}</mat-label>
        <textarea rows="5" formControlName="description" matInput></textarea>
      </mat-form-field>


      <mat-form-field appearance="outline" fxFlex.xl="22" fxFlex.lg="22" fxFlex.md="22" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.product.quantity_stock'|translate}}</mat-label>
        <input formControlName="quantity_stock" type="number" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="22" fxFlex.lg="22" fxFlex.md="22" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.product.price'|translate}}</mat-label>
        <input formControlName="price" matInput type="number">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="22" fxFlex.lg="22" fxFlex.md="22" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.wine.abv'|translate}}</mat-label>
        <input formControlName="abv" matInput type="number">
        <fa-icon matSuffix [icon]="['fas','percentage']"></fa-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="22" fxFlex.lg="22" fxFlex.md="22" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.wine.vintage_wine'|translate}}</mat-label>
        <input formControlName="vintage_wine" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.wine.visual'|translate}}</mat-label>
        <input formControlName="visual" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.wine.ripening'|translate}}</mat-label>
        <input formControlName="ripening" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxflex.sm="100"
                      fxFlex.xs="100">
        <mat-label>{{'attributes.wine.grapes'|translate}}</mat-label>
        <input formControlName="grapes" matInput>
      </mat-form-field>

      <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="45" fxflex.sm="100" fxFlex.xs="100">
        <mat-form-field appearance="outline" [fxFlex]="((canCreateWineStyle$ | async) && !data.disabled)? 80 : 100">
          <mat-label>{{'attributes.wine_style.to_human'|translate}}</mat-label>
          <mat-select [compareWith]="compareSelectValues" formControlName="wine_style">
            <mat-option *ngFor="let wineStyle of wineStyles$ | async" [value]="wineStyle">
              {{wineStyle?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button [matTooltip]="'pages.wine_styles.fab'|translate"
                (click)="openDialogWineStyle()"
                mat-mini-fab
                *ngIf="((canCreateWineStyle$ | async) && !data.disabled)"
        >+
        </button>
      </div>

      <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="45" fxflex.sm="100" fxFlex.xs="100">
        <mat-form-field appearance="outline" [fxFlex]="((canCreateMaker$ | async) && !data.disabled) ? 80 : 100">
          <mat-label>{{'attributes.maker.to_human'|translate}}</mat-label>
          <mat-select [compareWith]="compareSelectValues" formControlName="maker">
            <mat-option *ngFor="let maker of makers$ | async" [value]="maker">
              {{maker.name}}- {{maker?.state}}/{{maker?.country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button fxFlexOffset="10"
                [matTooltip]="'attributes.maker.fab'|translate"
                (click)="openDialogAddMaker()"
                mat-mini-fab
                *ngIf="((canCreateMaker$ | async) && !data.disabled)"
        >+
        </button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <app-dialog-action-buttons
    (cancel)="onCancel()"
    (confirm)="onSubmit()"
    [show]="!data.disabled"
    fxFill
  ></app-dialog-action-buttons>
</div>

