<div class="header-topnav mat-elevation-z2">
  <div class="container">
    <div class="topnav">
      <!-- App Logo -->
      <div class="topbar-branding">
        <img src="https://cookiecode.com.br/assets/logotipo.svg" alt="" class="app-logo">
      </div>

      <ul class="menu" *ngIf="!layoutConf.isMobile">
        <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.canShow$ | async" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}">
              <mat-icon>{{item.icon}}</mat-icon>
              {{item.name }}
            </a>
          </div>
        </li>
      </ul>
      <span fxFlex></span>
      <!-- Notification toggle button -->
      <button
        mat-icon-button
        matTooltip="Notifications"
        (click)="toggleNotific()"
        [style.overflow]="'visible'"
        class="topbar-button-right">
        <mat-icon>notifications</mat-icon>
        <span class="notification-number mat-bg-warn">3</span>
      </button>
      <!-- Top left user menu -->
      <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right mr-1 img-button">
        <div fxLayout="row" fxLayoutAlign="center" *ngIf="user$ | async; let user">
          <ngx-avatar class="my-avatar"
                      [size]="200"
                      [name]="user?.name || ''"
                      [src]="user?.picture?.url || ''"></ngx-avatar>
        </div>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item routerLink="/perfil">
          <mat-icon>account_box</mat-icon>
          <span>{{'pages.menu.profile'|translate}}</span>
        </button>
        <button mat-menu-item routerLink="/perfil/configuracoes">
          <mat-icon>settings</mat-icon>
          <span>{{'pages.menu.settings'|translate}}</span>
        </button>
        <button mat-menu-item routerLink="/perfil/tema">
          <mat-icon>settings</mat-icon>
          <span>{{'pages.menu.theme'|translate}}</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{'pages.menu.sign_out'|translate}}</span>
        </button>
      </mat-menu>
      <!-- Mobile screen menu toggle -->
      <button
        mat-icon-button
        class="mr-1"
        (click)="toggleSidenav()"
        *ngIf="layoutConf.isMobile">
        <mat-icon>menu</mat-icon>
      </button>

    </div>
  </div>
</div>
