<div *ngIf="data?.id; else newStyle">
  <h1 mat-dialog-title>
    {{'pages.wine_styles.dialog.update.title'|translate: {id: data.id} }}
  </h1>
</div>

<ng-template #newStyle>
  <h1 mat-dialog-title>
    {{'pages.wine_styles.dialog.new.title'|translate }}
  </h1>
</ng-template>

<div mat-dialog-content>

  <mat-form-field appearance="outline" fxFlex="100">
    <mat-label>{{'attributes.base.name' | translate}}</mat-label>
    <input [formControl]="wineStyleControl" matInput>
    <mat-error *ngIf="!!wineStyleControl.errors?.name_in_use">
      {{ ('validations.in_use.name'|translate)}}
    </mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <app-dialog-action-buttons
    (cancel)="onCancel()"
    (confirm)="onSubmit()"
    [loading]="loading$ | async"
    fxFill
  ></app-dialog-action-buttons>
</div>
